.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#calendar {
  border: 2px green solid;
  width: 90%;
  height: 50vh;
  margin: 0 auto 10px auto;
}

#list {
  border: 2px red solid;
  height: 50vh;
  width: 90%;
  margin: 0 auto 10px auto;
}

.week {
  position: relative;
  width: 100%;
  height: 25%;
  border: 2px white dashed;
  display: flex;
}

.day {
  height: 48px;
  width: 48px;
  border: 2px purple solid;
}

.day.blank {
  border: 2px gray solid;
}